[submodule "nginx-cache-inspector"]
	path = nginx-cache-inspector
	url = https://github.com/alexforks/nginx-cache-inspector
[submodule "nginx-cache-purge"]
	path = nginx-cache-purge
	url = https://github.com/alexforks/nginx-cache-purge
